@font-face {
    font-family: 'Stolzl';
    src: url('fonts/Stolzl-Regular.eot');
    src: local('Stolzl Regular'), local('Stolzl-Regular'),
        url('fonts/Stolzl-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Stolzl-Regular.woff2') format('woff2'),
        url('fonts/Stolzl-Regular.woff') format('woff'),
        url('fonts/Stolzl-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Saira';
    src: url('fonts/Saira-Regular.eot');
    src: local('Saira Regular'), local('Saira-Regular'),
        url('fonts/Saira-Regular.eot?#iefix') format('embedded-opentype'),
        url('fonts/Saira-Regular.woff2') format('woff2'),
        url('fonts/Saira-Regular.woff') format('woff'),
        url('fonts/Saira-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0;
    height: 100vh;
    width: 100%;
    background: url(img/bg1.jpg);
    background-size: cover;
    background-position: right;
    background-repeat: no-repeat;
}

section {
    padding: 260px 20px 0 45px;
    width: 797px;
}

h1 {
    font-family: Stolzl;
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 110%;
    color: #14161A;
    margin: 0;
}

p {
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 140%;
    color: #14161A;
    margin: 50px 0 70px;
}

a.btn {
    background: rgba(20, 22, 26, 0.08);
    border: 1px solid #14161A;
    box-sizing: border-box;
    border-radius: 2px;
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    color: #14161A;
    padding: 12px 85px;
    text-decoration: none;
    cursor: pointer;
}

.form_bg {
    display: none;
    position: fixed;
    z-index: 999;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: rgb(20 22 26 / .7);
}

.show {
    display: block;
}

form {
    display: none;
    z-index: 1000;
    padding: 28px 62px 62px;
    width: max-content;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: #EDEDED;
}

form legend {
    font-family: Stolzl;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 140%;
    text-align: center;
    color: #14161A;
    margin: 28px 0 30px;
}

.form-control {
    display: flex;
    width: 476px;
    margin: 0 0 20px 0;
    padding: 11px 34px 11px 15px;
    font-family: Stolzl;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    color: #14161A;
    outline: none;
    border: 1px solid #D6D6D6;
    box-sizing: border-box;
    background: #D6D6D6;
    border-radius: 4px;
}

.form-control:focus {
    background: #ededed;
    border: 1px solid #B9B9BA;
    box-shadow: 0px 0px 8px rgba(20, 22, 26, 0.2);
}

.btn-primary {
    font-family: Stolzl;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 140%;
    text-align: center;
    color: #EDEDED;
    background: #14161A;
    border-radius: 4px;
    width: 100%;
    padding: 9px 30px;
    margin-top: 20px;
    cursor: pointer;
}

form .close {
    position: absolute;
    right: 16px;
    top: 16px;
    width: 26px;
    height: 26px;
    cursor: pointer;
}

form#form_res>div {
    background: #EDEDED;
    border: 1px solid #CCCCCC;
    box-sizing: border-box;
    box-shadow: 0px 0px 8px rgba(20, 22, 26, 0.2);
    border-radius: 50%;
    display: flex;
    width: 100px;
    height: 100px;
    margin: 55px auto 0;
}

form#form_res>div>img {margin: auto;max-width: 50%;}

form#form_res>p {
    font-family: Stolzl;
    font-style: normal;
    font-weight: normal;
    font-size: 50px;
    line-height: 140%;
    text-align: center;
    color: #14161A;
    margin: 20px 0;
}

form#form_res>span {
    font-family: Saira;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 140%;
    display: block;
    text-align: center;
    color: #626366;
}

@media(max-width:860px) {
    body {
        background: url(img/bglb2.jpg);
        display: flex;
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }

    section {
        padding: 0 13px 109px;
        margin: auto 0 0 0;
        width: 100%;
    }

    h1 {
        font-size: 60px;
    }

    p {
        font-size: 22px;
        margin: 36px 0 60px;
    }

    form {
        left: 84px;
        right: 84px;
        transform: translate(0, -50%);
        width: auto;
    }
    
    .form-control {
        width: 100%;
    }
}

@media(max-width:600px) {
    body {
        background: url(img/bgph2.jpg);
        background-size: cover;
        background-position: right;
        background-repeat: no-repeat;
    }

    section {
        padding: 0 13px 60px;
    }

    h1 {
        font-size: 34px;
        letter-spacing: -0.05em;
    }

    p {
        font-size: 18px;
        margin: 26px 0 50px;
    }

    a.btn {
        padding: 6px 65px;
    }

    form {
        left: 16px;
        right: 16px;
        padding: 28px 16px 16px;
    }
    
    form legend {
        font-size: 40px;
    }

    .btn-primary {
        font-size: 20px;
    }
}